:root {
  --baseFont: system-ui;
  --baseFontSize: 1.1em;
  --basePadding: 5px 10px;
  --baseBorderSize: 1px;
  --baseBorderRadius: 5px;
  --baseMargin: 7px;
  --baseBackgroundColor: #2B2D30;
  --baseTextColor: #B8BCC3;
  --baseBorderColor: #000;
  --baseShadowColor: #000;
  --disabeldColor: dimgrey;
  --accentColor: mediumblue;
  --activeColor: darkgreen;
  --warningColor: darkorange;
  --successColor: darkgreen;
  --failColor: crimson;
  --buttonShadowSize: 5px 5px 0px;
  --tooltipBackgroundColor: var(--accentColor);
  --tooltipTextColor: var(--baseTextColor);
  --tooltipFontSize: var(--baseFontSize);
  --tooltipPadding: 7px;
  --tooltipFontSizeNegative: -1.1em;
  --tooltipPaddingNegative: -7px;
  --tooltipOffsetNegative: -25px;
  --tooltipShadowSize: 5px 5px 0px;
  --inputShadowSize: 5px 5px 0px;
}
