.input::placeholder {
  color: var(--baseTextColor);
  opacity: 0.8;
}

.input,
.input:focus {
  color: var(--baseTextColor);
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 15px;
}

.input-control {
  display: flex;
  border-radius: var(--baseBorderRadius);
  border: var(--baseBorderSize) solid var(--baseBorderColor);
  background-color: var(--baseBackgroundColor);
  box-shadow: none;
  font-size: var(--baseFontSize);
  font-weight: 600;
  color: var(--baseTextColor);
  outline: none;
  margin: var(--baseMargin);
  transition: all 0.3s ease;
}

.input-control:hover,
.focus {
  box-shadow: var(--inputShadowSize) var(--baseShadowColor);
}

.warning {
  border: var(--baseBorderSize) solid var(--warningColor);
  box-shadow: none;
}
.warning:hover,
.focusWarning {
  box-shadow: var(--inputShadowSize) var(--warningColor);
}

.fail {
  border: var(--baseBorderSize) solid var(--failColor);
  box-shadow: none;
}
.fail:hover,
.focusFail {
  box-shadow: var(--inputShadowSize) var(--failColor);
}

.success {
  border: var(--baseBorderSize) solid var(--successColor);
  box-shadow: none;
}
.success:hover,
.focusSuccess {
  box-shadow: var(--inputShadowSize) var(--successColor);
}

.label-section,
.control-section {
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: var(--baseBorderRadius);
  background-color: var(--accentColor);
  user-select: none;
}

.label-section *,
.control-section * {
  background-color: transparent;
}

.input-control .label-section {
  border-right: 1px solid var(--baseBorderColor);
}

.input-control .control-section {
  border-left: 1px solid var(--baseBorderColor);
}

.input-control input {
  padding: 10px;
  flex-grow: 1;
}

.input-control:hover .tooltip {
  opacity: 1;
  display: inline;
  margin: var(--baseMargin);
  margin-top: calc(
    var(--tooltipPaddingNegative) * 2 + var(--tooltipFontSizeNegative) +
      var(--tooltipOffsetNegative)
  );
}
