.tooltip {
  position: absolute;
  opacity: 0;
  display: initial;
  transform: translate(-50%);
  white-space: nowrap;
  box-shadow: var(--tooltipShadowSize) var(--baseShadowColor);
  font: var(--tooltipFontSize) var(--baseFont);
  color: var(--tooltipTextColor);
  background: var(--tooltipBackgroundColor);
  padding: var(--tooltipPadding);
  border-radius: var(--baseBorderRadius);
  pointer-events: none;
  transition: all 0.1s ease-in;
  margin: var(--baseMargin);
}

.tooltip::before {
  content: attr(data-text-initial);
}
